# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environnements Virtuels
venv/
env/
.env
.venv/
env.bak/
venv.bak/

# Django
db.sqlite3
db.sqlite3-journal
media/
static/

# Celery
celerybeat-schedule
celerybeat.pid
*.pid

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs et OS
*.log
.DS_Store
Thumbs.db
